// Tablet scss - already media queried in _shared.scss
.cf-main {
	#cf-hero  {
		.cf-heroImg {
			background-image: url('../images/hero.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top left;
			padding-top: 40%;
		}
	  
	}
	.cf-mobile {
		display: none;
	}
	.cf-desktop {
		display: block;
	}
}
